# http://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder/
.vagrant/
.DS_Store
/data/*
!data/.keep
/credentials/*
!credentials/README.md
ansible/new-project.yml
