# http://stackoverflow.com/questions/5533050/gitignore-exclude-folder-but-include-specific-subfolder/
# .vagrant/
.DS_Store
/credentials/*
!credentials/README.md
/data/*
!data/.keep
/dev/*
!dev/.keep
