---
git:
  github:
    name: Change Me
    email: change-me@gmail.com

docker_logins:
  quay_io:
    registry: quay.io
    username: change-me
    password: change-me

aws:
  default:
    aws_access_key_id: change-me
    aws_secret_access_key: change-me
