### Dynamic Environments
[tag_Environment_{{ item }}]
# always include localhost so we can run playbooks against this inventory and apply the appropriate group_vars
provisioner ansible_host=localhost ansible_connection=local

[{{ item }}:children]
tag_Environment_{{ item }}

[{{ item }}:vars]
infrastructure_env={{ item }}
