name: {{ project_name }}-ops
root:  {{ project_dir }}/ops

windows:
  - ansible:
      layout: even-horizontal
      panes:
        - cd ansible
        - cd terraform/instances
  - playbooks:
      layout: main-horizontal
      panes:
        - cd ansible
  - roles:
      layout: main-horizontal
      panes:
        - cd ansible/roles
  - prepd:
      layout: main-horizontal
      panes:
        - cd ansible/community-roles/prepd
  - terraplate:
      layout: main-horizontal
      panes:
        - cd ansible/community-roles/terraplate
  - terraform:
      layout: even-horizontal
      panes:
        - cd terraform/components
        - cd terraform/resources
